textarea:focus {
  outline: none;
}
.new-comment-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #4f8ac5;
  width: 100%;
}
.new-comment {
  border: none;
  border-radius: 4px;
  padding: 4px;
  font-weight: 100;
}
.submit-comment-container {
  background-color: #f6f7f8;
  display: flex;
  justify-content: flex-end;
  padding: 2px 4px;
}
.submit-comment-button {
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding: 3px 16px;
  text-align: center;
  border-radius: 3px;
  background-color: #f06c00;
  border: 1px solid #f06c00;
  color: white;
  cursor: pointer;
}
.reply-button-container {
  padding-left: 10px;
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-direction: column;
  align-items: flex-start;
  .reply-button {
    background-color: white;
    border: none;
    cursor: pointer;
    color: rgb(135, 138, 140);
    margin-bottom: 10px;
  }
  .reply-textarea {
    width: 100%;
    margin-top: 10px;
    border: none;
  }
}
.new-reply-comment {
  border: none;
}
.comment-container {
  width: 100%;
}
.signup-error {
  font-size: 0.8em;
  font-weight: bold;
  color: red;
}
.comment-vote-title-container {
  display: flex;
  height: 100%;
  gap: 10px;
}
.comment-vote-container {
  position: relative;
  height: 100%;
  font-size: 10px;
}
.comment-vote-button-container {
  display: flex;
  left: -10px;
  top: 0;
  position: absolute;
  width: fit-content;
  flex-direction: column;
  margin-right: 12px;
  justify-content: center;
  align-items: center;
}
.nested-comments {
  border-left: 1px solid;
  font-size: 10px;
}
.comment-vote-button {
  height: 9px;
  width: 9px;
}
.comment-vote-button-color {
  height: 9px;
  width: 9px;
  cursor: pointer;
  filter: invert(53%) sepia(85%) saturate(3616%) hue-rotate(4deg)
    brightness(97%) contrast(102%);
}
